// base style


:root {
    --color-white: #fff;
    --color-black: #000;
    --color-orange: #FFB742;
    --color-dark: #383E45;
    --color-green: #004D4C;
    --color-deep-grey: #212529;
    --color-text: #D5D5D5;
    --color-text-grey:#D4D4D4;
    --color-transparent-grey: #ffffff14;
    --color-footer-grey:#7B7B7B;
    --color-transparent-orange: #ffb74280;
    

    --bg-dark: #212529;
    --bg-orange: #FFB742;
    --bg-footer: #1C1C1C;


    --ff-poppins: 'Poppins', sans-serif;
    --ff-works: 'Work Sans', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-inter: 'Inter', sans-serif;
}